.speaker-card{
    background-color:rgb(255, 255, 255);
    border: 1px solid #bbbbbb;
    width:650px;
    border-radius:15px;
    
   
}
.speaker-1{
    margin:40px;
}

.Headline{
    margin-top:70px;
    margin-left:700px;
    font-size:45px;
}

.title{
    font-size:45px;
    margin-top:100px;
    margin-left:750px;
}

.gray{
    border-radius: 15px;
}

.speaker-card{
    margin-top:100px;
    margin-left:230px;
    
}

.people-info{
    padding:20px;
}
.category{
    color:rgb(14, 90, 233);
    font-size:12px;

}
.gray-title{
    color:gray;
}


.speaker-2{
    margin-top:-565px;
    margin-left:780px;
}
.demis{
    border-radius: 15px;
}
.demis-title{
    color: gray;
}


.speaker-3{
    margin-top:-50px;
    margin-left:785px;
}
.mustafa{
    border-radius: 15px;
}
.mustafa-title{
    color: gray;
}


.speaker-4{
    margin-top:-565px;
    margin-left:40px;
}
.andrej{
    border-radius: 15px;
}